<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/layouts/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-container magazine-mode">
    <section class="item">
        <img class="image" src="../media/images/images.jpg" alt="">
        <div class="info">
            <h2>Main Title</h2>
            <p>Description text goes here.</p>
            <span class="date">Sept 21, 2026</span>
        </div>
    </section>
    <section class="item">
        <img class="image" src="../media/images/images.jpg" alt="">
        <div class="info">
            <h2>Main Title</h2>
            <p>Description text goes here.</p>
            <span class="date">Sept 21, 2026</span>
        </div>
    </section>
    <section class="item">
        <img class="image" src="../media/images/images.jpg" alt="">
        <div class="info">
            <h2>Main Title</h2>
            <p>Description text goes here.</p>
            <span class="date">Sept 21, 2026</span>
        </div>
    </section>
    <section class="item">
        <img class="image" src="../media/images/images.jpg" alt="">
        <div class="info">
            <h2>Main Title</h2>
            <p>Description text goes here.</p>
            <span class="date">Sept 21, 2026</span>
        </div>
    </section>
    <section class="item">
        <img class="image" src="../media/images/images.jpg" alt="">
        <div class="info">
            <h2>Main Title</h2>
            <p>Description text goes here.</p>
            <span class="date">Sept 21, 2026</span>
        </div>
    </section>
    <section class="item">
        <img class="image" src="../media/images/images.jpg" alt="">
        <div class="info">
            <h2>Main Title</h2>
            <p>Description text goes here.</p>
            <span class="date">Sept 21, 2026</span>
        </div>
    </section>
</div>
</body>
</html>